body {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    background-color: #0f222b;
    color: #ababab; 
}

/* Page welcome*/
.welcome h3 {
    text-align: center;
}


.welcome {
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
}


.image {
    text-align: center;
}

.svg{
    margin-left: 25px;
    float: left;
    color: white;
    -webkit-filter: invert(100%); 
    filter: invert(100%);
}

#scrollUp {
    position: fixed;
    bottom : 50px;
    right: 50px;
    opacity: 0.5;
  }

.reseau {
    margin-top: 30px;
    margin-right: 400px;
    margin-left: 400px;
    display: flex;
    justify-content: space-around;
    
}

main h2 {
    color: white;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
}



/* Page soft skills*/

h3 {
    font-family: 'Titillium Web', sans-serif;
    color: white;
}


.progress{
    margin: 40px 0px 20px 440px;
    margin-bottom: 100px;
}

.sql{
    width: 200px;
    height: 25px;
    background-color: rgb(250, 27, 31);
    font-size: 20px;
    border-radius: 3px;
    padding-left: 5px;
    margin-top: 5px ;
}

.php{
    width: 250px;
    height: 25px;
    background-color: rgb(250, 27, 31);
    font-size: 20px;
    border-radius: 3px;
    padding-left: 5px;
    margin-top: 5px ;
}

.java{
    width: 300px;
    height: 25px;
    background-color: rgb(250, 27, 31);
    font-size: 20px;
    border-radius: 3px;
    padding-left: 5px;
    margin-top: 5px ;
}

.python{
    width: 200px;
    height: 25px;
    background-color: rgb(250, 27, 31);
    font-size: 20px;
    border-radius: 3px;
    padding-left: 5px;
    margin-top: 5px ;
}

.wordpress{
    width: 250px;
    height: 25px;
    background-color: rgb(250, 27, 31);
    font-size: 20px;
    border-radius: 3px;
    padding-left: 5px;
    margin-top: 5px ;
}

.base{
    width: 250px;
    height: 25px;
    background-color: rgb(250, 27, 31);
    font-size: 20px;
    border-radius: 3px;
    padding-left: 5px;
    margin-top: 5px ;
    margin-bottom: 40
    px;
}

.gestion{
    width: 500px;
    height: 25px;
    background-color: rgb(250, 27, 31);
    font-size: 20px;
    border-radius: 3px;
    padding-left: 5px;
    margin-top: 5px ;
}

.orga{
    width: 550px;
    height: 25px;
    background-color: rgb(250, 27, 31);
    font-size: 20px;
    border-radius: 3px;
    padding-left: 5px;
    margin-top: 5px ;
}

.sociale{
    width: 500px;
    height: 25px;
    background-color: rgb(250, 27, 31);
    font-size: 20px;
    border-radius: 3px;
    padding-left: 5px;
    margin-top: 5px ;
}

.polyvalent{
    width: 500px;
    height: 25px;
    background-color: rgb(250, 27, 31);
    font-size: 20px;
    border-radius: 3px;
    padding-left: 5px;
    margin-top: 5px ;
}


/* Page experiences */

#opacite {
    opacity: 0.6;
}

.exp {
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

.text1 h3{
    color: red;
    margin-bottom: 20px;
    
}

.text2 h3{
    color: red;
    margin-bottom: 20px;
    margin-top: 20px;
}

.text3 h3{
    color: red;
    margin-bottom: 20px;
    margin-top: 20px;
}

.text4 h3{
    color: red;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Page formations */

.formations {
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

.formulaire1 h3{
    text-align: center;
    color: red;
    margin-bottom: 20px;
}

.formulaire1 p {
    align-items: center;
    margin-left: 4rem;
    margin-right: 4rem;
   
}


.formulaire2 h3{
    color: red;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 250px;
    margin-right: 250px;
}

.formulaire3 h3{
    color: red;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 250px;
    margin-right: 250px;
}

.formulaire4 h3{
    color: red;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 250px;
    margin-right: 250px;
}


/* titre */
.nom {
    padding-top: 0px;
    clear: right;
    color: white;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    margin-left: 250px !important;
    margin-right: 250px !important;
}

.titre h2 {
    padding-top: 0px;
    clear: right;
    color: red;
    text-align: center;
    font-family: 'Audiowide', cursive;
    margin-bottom: 60px;
    margin-left: 250px !important;
    margin-right: 250px !important;
}

 
.pt-table {
    display: table;
    width: 100%;
    height: -webkit-calc(100vh - 4px);
    height: -moz-calc(100vh - 4px);
    height: calc(100vh - 4px);
}
  
.pt-tablecell {
    display: table-cell;
    vertical-align: middle;
}
  
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
  
.relative {
    position: relative;
}

  
  /* Structure des hexagones */
.hexagon-item {
    cursor: pointer;
    width: 200px;
    height: 173.20508px;
    float: left;
    margin-left: -29px;
    z-index: 0;
    position: relative;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg); 
}
  
/* Contour hexagone */

.hexagon-item:first-child {
    margin-left: 0;
}

.hexagon-item:hover {
    z-index: 1;
}

/* Contour droit*/
.hexagon-item:hover .hex-item:last-child {
    opacity: 1;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}

/* Contour gauche*/
.hexagon-item:hover .hex-item:first-child {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.page-home {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle; }


.hexagon-item:hover .hex-item:first-child {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}



/* Couleur du contour des hexagones */

.hexagon-item:hover .hex-item:first-child div:before, .hexagon-item:hover .hex-item:first-child div:after {
    height: 5px;
}

.hexagon-item:hover .hex-item div::before, .hexagon-item:hover .hex-item div::after {
    background-color: #ff0037;
}

/* Encadrement des hexagones */
.hex-item {
    position: absolute;
    top: 0;
    left: 50px;
    width: 100px;
    height: 173.20508px;
}

/* Harmonie de la structure des hexagones */
.hex-item:first-child {
    z-index: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hex-item:last-child {
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1;
}

.hex-item div {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 100px;
    height: 173.20508px;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
}

.hex-item div::before, .hex-item div::after {
    background-color: #1e2530;
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

.hex-item div:before {
    top: 0;
}

.hex-item div:after {
    bottom: 0;
}

.hex-item div:nth-child(1) {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg)
}

.hex-item div:nth-child(2) {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
}

.hex-item div:nth-child(3) {
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    transform: rotate(120deg);
}
  
.hex-content {
    color: #fff;
    display: block;
    height: 180px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    transform: rotate(-30deg);
    width: 156px;
}

.hex-content .hex-content-inner {
    left: 50%;
    margin: -3px 0 0 2px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hex-content {
    display: block;
    font-size: 36px;
    line-height: 30px;
    margin-bottom: 11px;
}

.hex-content .title {
    display: block;
    font-family: 'Audiowide', cursive;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
}

/* Contour hexagone en bas à droite*/
.hex-content svg {
    left: -7px;
    position: absolute;
    top: -13px;
    transform: scale(0.87);
    z-index: -1;
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

/* effet ruche en reponsive*/ 
/*
.page-home .hexagon-item:nth-last-child(1), .page-home .hexagon-item:nth-last-child(2), .page-home .hexagon-item:nth-last-child(3) {
	-webkit-transform: rotate(30deg) translate(87px, -80px);
	-moz-transform: rotate(30deg) translate(87px, -80px);
	-ms-transform: rotate(30deg) translate(87px, -80px);
	-o-transform: rotate(30deg) translate(87px, -80px);
	transform: rotate(30deg) translate(87px, -80px);
}
*/

/* Mise en page */

  
@media (min-width: 1200px){
  .hexa-centre {
        margin-left: 16.66666667%;
}
}  
@media (min-width: 1200px){
  .col-lg-8 {
        width: 66.66666667%;
}
}


@media (min-width: 1200px)
{
.col-lg-offset-2 {
    margin-left: 16.66666667%;
}
}
  
 /* Footer */

 
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
 
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
 
button[type=submit] {
    background-color: #4c5baf;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 60px;
  }
 

.civilite {
    width: 10%;
    margin-top: 30px;
    margin-right: 20px;
}

 

.mail{
    width: 15.5%;
    margin-top: 30px;
    margin-right: 20px;

}
  
.message {
    width: 32%;
    margin-top: 30px;
    margin-right: 20px;
}

 

.button{
      text-align: center;
 }

 .l1, .l2, .l3{
    display:flex;
    justify-content: center;
}


 @media only screen and (max-width: 950px) {
    .col-30, .col-100, .col-50, input[type=submit] {
          width: 100%;
          margin-top: 30;
        }
    .l1, .l2, .l3{
        flex-direction: column;
        display: block;
    }
}

/* works */
.work img{
    display: block;
    animation: zoom 25s;
    width: 300px;
    height: 300px;
    clear: left;
    margin-left: 60px;

}

.work{
    padding: 10px;
}

.work p {
    margin-top: 50px;
    margin-left: 500px;
    margin-right: 500px;
}

.image1{
    float: left;
    padding: 20px;
    box-sizing: border-box;
    margin-left: auto;
    margin-top: 50px;
    vertical-align: middle;
}

@media screen and (max-width: 900px){
    .image1{
        float:none;
        width: 100%;
    }
}

@keyframes zoom {
    0% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(0.5);
    }
  }

  /*conatact*/

  .infos{
      text-align: center;
  }